
body {
    /*text-align: right;*/
}

p {
    width: 200px;
    height: 300px;
    /*background-color: beige;*/
    border: 1px solid black;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    display: inline-block;
    text-align: initial;
    vertical-align: top;
}


a {
    width: 100x;
    height: 50px;
    border: 1px solid green;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}

/*display inline-block means that the elements stand next to each other, but they are still block elements. */




/*example*/

a {
    color: inherit;
    text-decoration: none;
}

.nav-list-item {
    display: inline;
}