/*External style
Tag Selector - good for h1-h6
for p tag for example you need class attribute if you want to style one specific paragraph differently*/

h1 {
    color: blue;
    font-family: initial; /*turns off Inherit*/
    border: inherit; /*turns on Inherit*/
}

/*Class Selector*/

body {
    font-family: sans-serif;
    border: 5px red solid;
    text-align: center;
    color: grey;
}

/* use case - the best way how to use */
a {
    color: inherit;
    text-decoration: none;
}

p {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

/*If you set a specific style for a child element, it will override the parent element style.*/

.annotation {
    font-size: 10px;
}
/*Cascade style means the last style will be applied*/

/*ID Selector - must be on the page only with one name only once. It is an individual ID for one element only. Cannot repeat the same ID name on the same page*/

#subscribe-btn {
    color: red;
}

/*Attribute Name - if it consists of a few words, how to write it down? You must use a hyphen between the words. 

E.g. subscribe-btn-delete - this is called kebab-case - MOST COMMON way to use in HTML.

Or another options is every new word is a Capital letter

E.g. subscribeBtn - Camel case (
    lowerCamelCase
    UpperCamelCase (PascalCase)
    subscribe_btn - snake case
    */
/*The best practice is to use class selectors for styling and ID selectors for JavaScript*/

/*Specification of Attribute
1. Tag - the weakest. - Low priority. [1%]
2. Class - stronger than tag. - Middle priority. [10%]
3. ID - the strongest. - High priority. [100%]
4. Style - the strongest. - 1000% - Inline style. It is the most specific and the most important. It will override all other styles.
*/